@import "tailwindcss";

@theme {
  --color-brand: #ff5500;
  --color-brand-medium: #ff7733;
  --color-brand-light: #ff9966;
  --color-skin: #ffbb99;
  --color-skin-light: #ffddcc;
  --color-earth: #662200;
  --color-earth-medium: #993300;
  --color-earth-light: #cc4400;
}
